*.swp
*.o
*.o-boot
*.hi-boot
*.hi
*.a
*.obj
*.hi
.svn
*_stub.*
*.dll.a
*.exe
eq
eqtestsuite
*.tix
.hpc
coverageReport
*.ncb
*.suo
*.user
*.so
formulaDll_stub.c
formulaDll_stub.h
Debug
Release
Build
tags
out.txt
size.txt
test.txt
dist
cscope.*
cabal-dev
